
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --form-bg: hsl(200, 15%, 8%);
  --border:  hsl(200, 15%, 8%);
  --box-shadow: 0 0 7px 2px;
  --accent: hsl(200, 15%, 8%);
}

.dark-mode {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --form-bg: hsl(0, 0%, 100%);
  --border:  hsl(0, 0%, 100%); 
  --box-shadow: 0 0 7px 2px;
  --accent: hsl(0, 0%, 100%);
}



body{
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container1{
  color: var(--text-color);
  height: 12vh;
  margin-top: -20px;
  background-color: var(--background-color);
  box-shadow: 0 0 7px 2px #24110098;
 
}
.container2{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 12vh;
  justify-content: space-between;
}
@media (min-width: 376px){
.head{
  margin-top: 40px;
  font-family: 'Nunito Sans';
}}
@media (max-width: 375px){
  .head{
    margin-top: 40px;
    font-size: 10px;
  }
}
.dark{
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);;
}
.lit{
  background-color: none;
}
.light-theme{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);;
}
.col{
  
  color: yellow;
}
.cole{
  
  color: black;
}
@media (min-width: 376px){
.up{
  margin-top: 28px;
}}
@media (max-width: 375px){
  .up{
    margin-top: 20px;
  }}
@media (min-width: 376px){
.ups{
  font-size: 12px;
}}
@media (max-width: 375px){
  .ups{
    font-size: 10px;
  }}
  .loader{
    width: 15%;
    padding: 250px;
    padding-left: 700px;
  }
  
